@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

.app {
  color: $elv-color-text-dark;
  height: 100%;
}

.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 100%;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

footer {
  color: $elv-color-text-lighter;
  display: flex;
  justify-content: flex-end;
  padding: $elv-spacing-xs $elv-spacing-s;
}

.source-link {
  align-items: center;
  border: 1px solid $elv-color-mediumgray;
  border-radius: 3px;
  display: flex;
  font-size: 14px;
  padding: $elv-spacing-xs $elv-spacing-s;
  width: auto;

  .github-icon {
    height: 20px;
    margin-right: $elv-spacing-xs;
    width: 20px;
  }

  &:hover {
    background-color: $elv-color-lightestgray;
  }
}

.version-hash-entry {
  align-items: center;
  display: flex;
  margin-top: $elv-spacing-m;

  input {
    color: $elv-color-text-light;
    font-size: 18px;
    height: 2.2em;
    margin-right: $elv-spacing-xs;
    padding-left: $elv-spacing-xs;
    width: 100%;
  }

  .-elv-button {
    height: 100%;
    width: 200px;

    &.elv-button {
      font-size: 20px;
    }
  }
}

.error-message {
  color: $elv-color-red;
  font-size: 16px;
  padding: $elv-spacing-s;
  text-align: center;
}

.controls-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;

  .controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: $elv-spacing-s;
  }

  .control-block {
    border: 1px solid $elv-color-lightgray;
    border-radius: 3px;
    display: inline-block;
    margin: 0 $elv-spacing-xs $elv-spacing-xs 0;
    padding: $elv-spacing-s $elv-spacing-m 0;
  }

  h4 {
    font-size: 18px;
    text-align: center;
  }

  .selection {
    align-items: center;
    display: flex;
    margin: $elv-spacing-m 0;

    label {
      width: 100px;
    }

    .-elv-tab-container {
      margin: 0;
    }

    .-elv-tab {
      text-align: center;
      width: 125px;

      &.secondary {
        &.selected {
          background: $elv-color-action-primary;
          color: $elv-color-text-white;
        }
      }
    }
  }
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 2.2rem;
    font-weight: normal;
    margin: $elv-spacing-l 0 0;
    text-align: center;
  }

  h3 {
    font-size: 14px;
    padding: $elv-spacing-s $elv-spacing-l;
  }

  video {
    background-color: $elv-color-bg-black;
    cursor: pointer;
    max-height: 50vh;
    width: 100%;
  }
}
