.advanced-options {
  margin-top: 2rem;
  width: 30rem;
}

.hls-options-form {
  align-items: center;
  display: flex;
  height: 10rem;

  label {
    width: 10rem;
  }

  textarea {
    height: 100%;
    margin-right: 2rem;
    padding: 0.5rem;
  }

  button {
    height: 2rem;
  }
}

.hls-bandwidth-estimate {
  margin: 20px 0;

  label {
    margin-right: 2rem;
  }
}
